#Code For True Peapols

In [29]:
import glob
import os 
import pandas as pd
 

# Get a list of all .xlsx files in the current directory
xlsx_files = glob.glob("*.xlsx")

# Display the list of .xlsx files
for file in xlsx_files:
    print(file)

concatenated_data.xlsx
google_se rch_results (1).xlsx
google_search_results (1).xlsx
google_search_results (2).xlsx
google_search_results (3).xlsx
google_search_results.xlsx
la.xlsx
new.xlsx
newaaa.xlsx
t1.xlsx
True.xlsx
xkjch'.xlsx

In [30]:
 

# Create an empty DataFrame to store the concatenated data
concatenated_data = pd.DataFrame()

# Iterate through each Excel file and concatenate its data to the DataFrame
for file in xlsx_files:
    df = pd.read_excel(file)  # Read the Excel file into a DataFrame
    concatenated_data = pd.concat([concatenated_data, df], ignore_index=True)  # Concatenate the data

# Write the concatenated data to a new Excel file
concatenated_data.to_excel("concatenated_data.xlsx", index=False)

print("Data from all .xlsx files has been consolidated into concatenated_data.xlsx.")

Data from all .xlsx files has been consolidated into concatenated_data.xlsx.

In [19]:

# Get a list of all CSV files in the current directory
csv_files = glob.glob("*.csv")

# Create an empty list to store DataFrames
dfs = []

# Iterate through each CSV file and read it into a DataFrame
for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Concatenate all DataFrames into one
merged_df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new CSV file
merged_df.to_csv("merged_data.csv", index=False)

print("CSV files have been merged into merged_data.csv")

CSV files have been merged into merged_data.csv

In [21]:
 
# Read the merged data from the CSV file into a DataFrame
merged_data = pd.read_csv("merged_data.csv")

# Display the DataFrame
print(merged_data)

       nwsli          site_name  longitude  latitude        date    time  \
0      OSGK1         OSAGE CITY   -95.8333   38.6333  20240407.0   940.0
1      WHLM4  Whitmore Lake 1NW   -83.7831   42.4356  20240407.0  1300.0
2      SMLI2        HAMLETSBURG   -88.4333   37.1667  20240407.0  1100.0
3      CWYN1      CALLAWAY 8WSW  -100.0750   41.2522  20240407.0  1200.0
4      RDWP1            RIDGWAY   -78.7500   41.4167  20240407.0  1100.0
...      ...                ...        ...       ...         ...     ...
13206    NaN                NaN        NaN       NaN         NaN     NaN
13207    NaN                NaN        NaN       NaN         NaN     NaN
13208    NaN                NaN        NaN       NaN         NaN     NaN
13209    NaN                NaN        NaN       NaN         NaN     NaN
13210    NaN                NaN        NaN       NaN         NaN     NaN

       high_f  low_f  prec_in  snow_in  ...  price  choice  DeliveredDateTime  \
0        75.0   45.0     0.00      0.0  ...    NaN     NaN                NaN
1        58.0   27.0     0.00    -99.0  ...    NaN     NaN                NaN
2        63.0   32.0     0.00    -99.0  ...    NaN     NaN                NaN
3        66.0   41.0     0.46      0.0  ...    NaN     NaN                NaN
4        52.0   26.0     0.00      0.0  ...    NaN     NaN                NaN
...       ...    ...      ...      ...  ...    ...     ...                ...
13206     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13207     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13208     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13209     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13210     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN

       ModelName col-12 col-12 href col-12 2 col-12 href 2  \
0            NaN    NaN         NaN      NaN           NaN
1            NaN    NaN         NaN      NaN           NaN
2            NaN    NaN         NaN      NaN           NaN
3            NaN    NaN         NaN      NaN           NaN
4            NaN    NaN         NaN      NaN           NaN
...          ...    ...         ...      ...           ...
13206        NaN    NaN         NaN      NaN           NaN
13207        NaN    NaN         NaN      NaN           NaN
13208        NaN    NaN         NaN      NaN           NaN
13209        NaN    NaN         NaN      NaN           NaN
13210        NaN    NaN         NaN      NaN           NaN

      https://www.truepeoplesearch.com/find/person/pl640ulnlnnl8lu4862l  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
13206                                                NaN
13207                                                NaN
13208                                                NaN
13209                                                NaN
13210                                                NaN

                https://www.truepeoplesearch.com/privacy
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
13206            https://www.truepeoplesearch.com/find/v
13207            https://www.truepeoplesearch.com/find/w
13208            https://www.truepeoplesearch.com/find/y
13209  https://www.truepeoplesearch.com/find/trending...
13210  https://en.wikipedia.org/wiki/Fair_Credit_Repo...

[13211 rows x 131 columns]

C:\Users\Network Administrato\AppData\Local\Temp\ipykernel_11640\2166779766.py:2: DtypeWarning: Columns (0,1,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,107,108,117,119,120,123,124,125,126,127,128,129,130) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_data = pd.read_csv("merged_data.csv")

In [23]:
merged_data = pd.read_csv("merged_data.csv")

# Filter out columns with all missing values (NaNs)
merged_data_filtered = merged_data.dropna(axis=1, how='all')

# Display the DataFrame with filtered columns
print(merged_data_filtered)

       nwsli          site_name  longitude  latitude        date    time  \
0      OSGK1         OSAGE CITY   -95.8333   38.6333  20240407.0   940.0
1      WHLM4  Whitmore Lake 1NW   -83.7831   42.4356  20240407.0  1300.0
2      SMLI2        HAMLETSBURG   -88.4333   37.1667  20240407.0  1100.0
3      CWYN1      CALLAWAY 8WSW  -100.0750   41.2522  20240407.0  1200.0
4      RDWP1            RIDGWAY   -78.7500   41.4167  20240407.0  1100.0
...      ...                ...        ...       ...         ...     ...
13206    NaN                NaN        NaN       NaN         NaN     NaN
13207    NaN                NaN        NaN       NaN         NaN     NaN
13208    NaN                NaN        NaN       NaN         NaN     NaN
13209    NaN                NaN        NaN       NaN         NaN     NaN
13210    NaN                NaN        NaN       NaN         NaN     NaN

       high_f  low_f  prec_in  snow_in  ...  price  choice  DeliveredDateTime  \
0        75.0   45.0     0.00      0.0  ...    NaN     NaN                NaN
1        58.0   27.0     0.00    -99.0  ...    NaN     NaN                NaN
2        63.0   32.0     0.00    -99.0  ...    NaN     NaN                NaN
3        66.0   41.0     0.46      0.0  ...    NaN     NaN                NaN
4        52.0   26.0     0.00      0.0  ...    NaN     NaN                NaN
...       ...    ...      ...      ...  ...    ...     ...                ...
13206     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13207     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13208     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13209     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN
13210     NaN    NaN      NaN      NaN  ...    NaN     NaN                NaN

       ModelName col-12 col-12 href col-12 2 col-12 href 2  \
0            NaN    NaN         NaN      NaN           NaN
1            NaN    NaN         NaN      NaN           NaN
2            NaN    NaN         NaN      NaN           NaN
3            NaN    NaN         NaN      NaN           NaN
4            NaN    NaN         NaN      NaN           NaN
...          ...    ...         ...      ...           ...
13206        NaN    NaN         NaN      NaN           NaN
13207        NaN    NaN         NaN      NaN           NaN
13208        NaN    NaN         NaN      NaN           NaN
13209        NaN    NaN         NaN      NaN           NaN
13210        NaN    NaN         NaN      NaN           NaN

      https://www.truepeoplesearch.com/find/person/pl640ulnlnnl8lu4862l  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
13206                                                NaN
13207                                                NaN
13208                                                NaN
13209                                                NaN
13210                                                NaN

                https://www.truepeoplesearch.com/privacy
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
13206            https://www.truepeoplesearch.com/find/v
13207            https://www.truepeoplesearch.com/find/w
13208            https://www.truepeoplesearch.com/find/y
13209  https://www.truepeoplesearch.com/find/trending...
13210  https://en.wikipedia.org/wiki/Fair_Credit_Repo...

[13211 rows x 128 columns]

C:\Users\Network Administrato\AppData\Local\Temp\ipykernel_11640\3747302870.py:1: DtypeWarning: Columns (0,1,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,107,108,117,119,120,123,124,125,126,127,128,129,130) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_data = pd.read_csv("merged_data.csv")

In [27]:
# Specify data types for columns explicitly
dtype_mapping = {
    'Column1': str,
    'Column2': int,
    # Specify data types for other columns as needed
}

# Read the merged data from the CSV file into a DataFrame, specifying data types
merged_data = pd.read_csv("merged_data.csv", dtype=dtype_mapping)

C:\Users\Network Administrato\AppData\Local\Temp\ipykernel_11640\1616899506.py:9: DtypeWarning: Columns (0,1,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,107,108,117,119,120,123,124,125,126,127,128,129,130) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_data = pd.read_csv("merged_data.csv", dtype=dtype_mapping)